*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("https://images.squarespace-cdn.com/content/v1/5e1b73fb6eeb973ee1becfc4/1592675000454-J3PX30T4VNJIPWH3CT7P/custom-restaurant-tables-david-stine+3.jpg") ;
    background-size: cover;
    background-attachment: fixed;

}

body ul{
    display: flex ;
    justify-content: center ;
    align-items: center;
    flex: wrap ;
    list-style-type: none ;
    padding: 0 ;
}

li a{
    height: 22.5rem ;
    width: 20rem ;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin : 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden ;
    color : #e72929;
}

li a:hover{
    opacity: 0.9;
    cursor: pointer;
}

li a img{
    object-fit: cover ;
    height: 14.5rem   ;
}

.content{
    margin-top : 0.3rem   ;
    padding : 0.5rem 1rem ;
    position: relative;
    height: 7rem;
}

.price{
    position : absolute;
    left : 0.9rem ;
    color : #414141 ;
    margin-top: 0.rem ;
    font-size : 1.1rem;
} 

