<app-search></app-search>
<!--<body>      
    <ul>
        <div >
            <li *ngFor = "let user of users">
                <a routerLink="/users/{{user._id}}">
                    <div class="content">
                        <div class="username">
                            {{user.username}}
                        </div>
                        <div class="role">
                            {{user.role}}
                        </div>
                    </div>
                </a>
            </li>
        </div>
    </ul>
</body>-->
