<body>
    <div class="upside">
        <ul>
            <li>
                <div>
                    <i id="delete-icon" class="fa-solid fa-trash"></i>
                    <div class="white"></div>
                    <div class="content">
                        <h3>Table Number : </h3>
                        <h3>Seats : </h3>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="bottomside">
        <header>

        </header>
        <div class="scrollbox">
            <div class="scrollbox-inner">
                <div class="flex-container">
                    <button class="flex-box">
                        Box1
                    </button>
                    <button class="flex-box">
                        Box2
                    </button>
                    <button class="flex-box">
                        Box3
                    </button>
                    <button class="flex-box">
                        Box4
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
