version: '3.9'
services:
    redis:
        container_name: redis-container
        image: redis:alpine
        restart: always
        ports:
            - 6379:6379
        networks:
            - mean-stack-net
        command: ["redis-server", "--bind", "redis", "--port", "6379"]
        volumes:
            - /path/to/redis-persistence:/redis/data

    mongo_db:
        container_name: mongo-db
        image: mongo:latest
        restart: always
        ports:
            - 27017:27017
        volumes:
            - mongo_data:/data/db
        networks:
            - mean-stack-net

    backend:
        build: 
            dockerfile: Dockerfile.dev
            context: ./backend
        volumes:
            - /usr/src/app/node_modules
            - ./backend:/usr/src/app/backend
        container_name: BackEnd
        networks:
            - mean-stack-net
        ports : 
            - 443:443
        depends_on:
            - mongo_db
            - redis
        environment:
            REDIS_HOST: redis
            REDIS_PORT: 6379

    frontend:
        build: 
            dockerfile: Dockerfile.dev
            context: ./frontend
        ports:
            - 4200:4200
        container_name: FrontEnd
        networks:
            - mean-stack-net
        volumes:
            - /usr/src/app/node_modules
            - ./frontend:/usr/src/app/frontend
        depends_on:
            - backend
        stdin_open: true
        tty: true


networks:
    mean-stack-net:
        driver: bridge


volumes:
    mongo_data : 
        driver: local
         

