<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="width=device-width, initial-scale=1.0">
    <title>Insert element</title>
    <link rel="stylesheet" href="menu-kind.component.css">
    <link rel="stylesheet" href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="wrapper">
        <form action="">
            <form [formGroup]="menuForm" (ngSubmit)="submit()">
                <h1>Insert {{cur_kind}}</h1>
                <div class="input-box">
                    <input type="text" placeholder="Name" formControlName="name" required>
                </div>
                <div class="error-list" *ngIf="fc.name.errors && isSubmitted">
                    <div *ngIf="fc.name.errors.required">Username should not be empty</div>
                </div>

                <div class="input-box">
                    <input type="number" min="0" placeholder="Preparation time" formControlName="preparation_time" required>
                </div>
                <div class="error-list" *ngIf="fc.preparation_time.errors && isSubmitted">
                    <div *ngIf="fc.preparation_time.errors.required">Password should not be empty</div>
                </div>

                <div class="input-box">
                    <input type="number" min="0" placeholder="Price" formControlName="price" required>
                </div>
                <div class="error-list" *ngIf="fc.price.errors && isSubmitted">
                    <div *ngIf="fc.price.errors.required">Password should not be empty</div>
                </div>

                <div class="input-box">
                     <button type="submit" class="btn">Insert</button>
                </div>
            </form>
        </form>
    </div>
</body>