

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to bottom left,#c0c0c0,#50808f);
}

ul{
    border-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 60px;
}

li .sup-box{
    height : 22.5rem ;
    width : 14rem ;
    border: 1px solid #011638;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-decoration: none ;
    color : black;
    background-color: #cdcdcd
}

li a:hover{
    opacity: 0.9;
    cursor: pointer;
}



button{
    height : 22.6rem ;
    width : 14rem ;
    border: 1px solid #011638;;
    border-radius: 1rem;
    margin: 0.5rem;
    background-color: #f8f8f8;
    overflow: hidden;
}

button img{
    object-fit: cover ;
    height: 6rem   ;
}


.content{
    margin-top: 0.3rem ;
    padding: 0.5rem 1rem;
    position: relative;
    height: 7rem;
}

.delete-icon {
    position: relative;
    width: 20px;
    height: 20px !important;
    padding: 1px;
    border-radius: 20px !important;
    margin: 3px;
}

.green-btn {
    position: relative;
    width: 20px;
    height: 20px !important;
    padding: 1px;
    border-radius: 20px !important;
    margin: 3px;
}

.green-btn:hover{
    cursor: pointer;
}

#delete-button{
    left: 5px;
}

#setting-button{
    left: 165px;
}

#update-button{
    left: 170px;
}

.flex-container {
    width: 20%;
    height: 20px;
    display: flex;
    flex-direction: row ;
    flex-wrap : wrap;
    justify-content: space-between;
    margin-top: 20px;
    z-index: 9;
    margin: 30px;
}

.delete-icon:hover {
    background-color: red ;
}



.table-box{
    position: relative;
    top: 10spx;
}
.flex-box{
    position: relative;
    width: 100px;
    height: 30px;
} 

div .seats{
    margin : 5px;
}

