<!DOCTYPE html>
<html>

    <head>
        <title>HomePage</title>
        <link rel="stylesheet" href="header.component.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
    </head>
    <body> 
        <header>
            <div class="navbar">
                <div class="items">
                    <ul class="links">
                        <li><a href="#">Home</a></li><br>
                        <li><a href="#">Tables</a></li><br>
                        <li><a href="#">MyProfile</a></li><br>
                        <li><a href="https://localhost:4200/login" *ngIf="!showLog">Login</a></li><br>
                        <li><a id="out" href="#" (click)="logout()" *ngIf="showLog">Logout</a></li><br>
                    </ul>
                    <div class="toggle-btn" (click)="toogleTag()">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                    <div class="menu overlay" *ngIf="showBar">
                        <li><a href="#" ><i class="fa fa-home"></i></a></li>
                        <li><a href="#" ><i class="fa fa-user"></i></a></li>
                        <li><a href="#" ><i class="fa fa-table"></i></a></li>
                        <li><a href="https://localhost:4200/login" *ngIf="!showLog"><i class="fa-solid fa-right-to-bracket"></i></a></li>
                        <li><a id="out2" href="#" ><i class="fa-solid fa-share" *ngIf="showLog" (click)="logout()"></i></a></li>
                    </div>
                    <div>
                        <li *ngIf = "user">
                            <a routerLink="/users/{{user._id}}">
                                <div class="content">
                                    <div class="username">
                                        {{user.username}}
                                    </div>
                                    <div class="role">
                                        {{user.role}}
                                    </div>
                                </div>
                            </a>
                        </li>
                    </div>
                </div>
            </div>
        </header>
    </body>
</html>