
* {
    margin : 0 ;
    padding : 0 ;
    box-sizing: border-box;
    font-family:'Comic Sans MS' ;
}

body {
    background-color: #cdcdcd;
    margin-top: 1rem;
}


li{
    list-style: none;
}

a  {
    text-decoration: none; 
    color : #cdcdcd ;
    font-size: 1rem;
}


a:hover {
    color : #063786;
}

i{
    text-decoration: none; 
    color : #b7b5b5 ;
    font-size: 2rem;
}

i:hover{
    color  : white;
}

/*HEADETS*/
header{
    position: relative;
    padding: 0 2rem;
}


.navbar {
    background-color: #cdcdcd;
    border-radius: 20px;
    border-bottom: 100px;
    margin : -16px -40px;

}


.navbar .items{
    width: 100%;
    height: 60px;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 10px 5px 14px 2px;
    background-image: linear-gradient(to bottom left,#011638,black);
}

.navbar .items .links{
    font-weight: bold;
    display : flex ;
    gap : 2rem ;
    border-right: 20px;
    border-radius: 20px;
    margin-right: 180px;
    border-radius: 15px;
    padding: 10px 10px 10px 10px;
    margin-left: 10px;
    font-weight: bold;

}

.navbar .items .toggle-btn{
    font-size: 1.5rem;
    cursor : pointer ;
    display: none;
    margin : 20px;
}


/* DROPDOWN MENU */


.menu{
    display: none;
    position: absolute;
    right: 2rem;
    top : 60px;
    width : 120px ;
    height: -10px;
    background: rgba(1, 63, 249, 0.1);
    backdrop-filter : blur(15px) ;
    overflow: hidden;
    transition:  height 0.2s cubic-bezier(0.175, 0.885, 1.275);
    border-radius: 40px;
}

.menu.open{
    height: 240px;
}

.menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    z-index: 9;
    margin: 30px;
}


/* RESPONSIVE DESIGN */


@media (max-width: 992px){
    .navbar .items .links {
        display: none;
    }
    .navbar .items .toggle-btn {
        display: block;
    }
    .menu{
        display: block;
    }
}

@media(max-width: 576px){
    .menu {
        left : 2rem ;
        width: unset;
    }
}
