<header>
    <div class = "container">
        <a routerLink="/" class="logo">My Smart Restaurant</a>
        <nav>
            <ul>
                <li>
                    <a routerLink="/login">Login</a>
                </li>
                <li class = "home-container">
                    <a routerLink = "/dashboard">Dashboard</a>
                    <div class="home">
                        <a routerLink= "/profile">Profile</a>
                        <a routerLink="/Tables">Tables</a>
                        <a>Logout</a>
                    </div>
                </li>
                <li>
            </ul>
        </nav>
    </div>
</header>

