<!DOCTYPE html>
<html>

    <head>
        <title>HomePage</title>
        <link rel="stylesheet" href="header.component.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
    </head>
    <body> 
        <header>
            <div class="navbar" *ngIf="nobody()">
                <div class="items">
                    <ul class="links">
                        <li><a href="#">Home</a></li><br>
                        <li><a href="https://localhost:4200/login" *ngIf="!showLog">Login</a></li><br>
                        <li><a id="out" href="#" (click)="logout()" *ngIf="showLog">Logout</a></li><br>
                    </ul>
                    <div class="toggle-btn" (click)="toogleTag()">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                    <div class="menu overlay" *ngIf="showBar">
                        <li><a href="#" ><i class="fa fa-home"></i></a></li>
                        <li><a href="https://localhost:4200/login" *ngIf="!showLog"><i class="fa-solid fa-right-to-bracket"></i></a></li>
                    </div>
                    <div class="menu overlay" *ngIf="waiter()">Diocaneeeee</div>
                </div>
            </div>
            <div class="navbar" *ngIf="waiter()">
                <div class="items">
                    <ul class="links">
                        <li><a href="#">Home</a></li><br>
                        <li><a href="https://localhost:4200/profile">MyProfile</a></li><br>
                        <li><a href="https://localhost:4200/tables">Tables</a></li><br>
                        <li><a href="https://localhost:4200/login" *ngIf="!showLog">Login</a></li><br>
                        <li><a id="out" href="#" (click)="logout()" *ngIf="showLog">Logout</a></li><br>
                    </ul>
                    <div class="toggle-btn" (click)="toogleTag()">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                    <div class="menu overlay" *ngIf="showBar">
                        <li><a href="#" ><i class="fa fa-home"></i></a></li>
                        <li><a href="https://localhost:4200/profile" ><i class="fa fa-user"></i></a></li>
                        <li><a href="https://localhost:4200/tables" ><i class="fa fa-table"></i></a></li>
                        <li><a href="https://localhost:4200/login" *ngIf="!showLog"><i class="fa-solid fa-right-to-bracket"></i></a></li>
                        <li><a id="out2" href="#" ><i class="fa-solid fa-share" *ngIf="showLog" (click)="logout()"></i></a></li>
                    </div>
                </div>
            </div>
            <div class="navbar" *ngIf="casher()">
                <div class="items">
                    <ul class="links">
                        <li><a href="#">Home</a></li><br>
                        <li><a href="https://localhost:4200/profile">MyProfile</a></li><br>
                        <li><a href="https://localhost:4200/tables">Check-out</a></li><br>
                        <li><a href="https://localhost:4200/users">Users</a></li><br>
                        <li><a href="https://localhost:4200/login" *ngIf="!showLog">Login</a></li><br>
                        <li><a id="out" href="#" (click)="logout()" *ngIf="showLog">Logout</a></li><br>
                    </ul>
                    <div class="toggle-btn" (click)="toogleTag()">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                    <div class="menu overlay" *ngIf="showBar">
                        <li><a href="#" ><i class="fa fa-home"></i></a></li>
                        <li><a href="https://localhost:4200/profile" ><i class="fa fa-user"></i></a></li>
                        <li><a href="https://localhost:4200/users"><i class="fa-solid fa-users"></i></a></li>
                        <li><a href="https://localhost:4200/login" *ngIf="!showLog"><i class="fa-solid fa-right-to-bracket"></i></a></li>
                        <li><a id="out2" href="#" ><i class="fa-solid fa-share" *ngIf="showLog" (click)="logout()"></i></a></li>
                    </div>
                </div>
            </div>
            <div class="navbar" *ngIf="cook()">
                <div class="items">
                    <ul class="links">
                        <li><a href="#">Home</a></li><br>
                        <li><a href="https://localhost:4200/profile">MyProfile</a></li><br>
                        <li><a href="https://localhost:4200/Kitchen">Kitchen</a></li><br>
                        <li><a href="https://localhost:4200/login" *ngIf="!showLog">Login</a></li><br>
                        <li><a id="out" href="#" (click)="logout()" *ngIf="showLog">Logout</a></li><br>
                    </ul>
                    <div class="toggle-btn" (click)="toogleTag()">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                    <div class="menu overlay" *ngIf="showBar">
                        <li><a href="#" ><i class="fa fa-home"></i></a></li>
                        <li><a href="https://localhost:4200/profile" ><i class="fa fa-user"></i></a></li>
                        <li><a href="https://localhost:4200/Kitchen" ><i class="fa-solid fa-kitchen-set"></i></a></li>
                        <li><a href="https://localhost:4200/login" *ngIf="!showLog"><i class="fa-solid fa-right-to-bracket"></i></a></li>
                        <li><a id="out2" href="#" ><i class="fa-solid fa-share" *ngIf="showLog" (click)="logout()"></i></a></li>
                    </div>
                </div>
            </div>
            <div class="navbar" *ngIf="bartender()">
                <div class="items">
                    <ul class="links">
                        <li><a href="#">Home</a></li><br>
                        <li><a href="https://localhost:4200/profile">MyProfile</a></li><br>
                        <li><a href="https://localhost:4200/bar">Bar</a></li><br>
                        <li><a href="https://localhost:4200/login" *ngIf="!showLog">Login</a></li><br>
                        <li><a id="out" href="#" (click)="logout()" *ngIf="showLog">Logout</a></li><br>
                    </ul>
                    <div class="toggle-btn" (click)="toogleTag()">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                    <div class="menu overlay" *ngIf="showBar">
                        <li><a href="#" ><i class="fa fa-home"></i></a></li>
                        <li><a href="https://localhost:4200/profile" ><i class="fa fa-user"></i></a></li>
                        <li><a href="https://localhost:4200/bar" ><i class="fa-solid fa-martini-glass"></i></a></li>
                        <li><a href="https://localhost:4200/login" *ngIf="!showLog"><i class="fa-solid fa-right-to-bracket"></i></a></li>
                        <li><a id="out2" href="#" ><i class="fa-solid fa-share" *ngIf="showLog" (click)="logout()"></i></a></li>
                    </div>
                </div>
            </div>
        </header>
    </body>
</html>