<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login-page.component.css">
    <link rel="stylesheet" href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="wrapper">
        <form action="">
            <form [formGroup]="loginForm" (ngSubmit)="submit()">
                <h1>Login</h1>
                <div class="input-box">
                    <input type="text" placeholder="Username" formControlName="username" required>
                    <i class='bx bxs-user'></i>
                </div>
                <div class="error-list" *ngIf="fc.username.errors && isSubmitted">
                    <div *ngIf="fc.username.errors.required">Username should not be empty</div>
                </div>
                <div class="input-box">
                    <input type="password" placeholder="Password" formControlName="password" required>
                    <i class='bx bxs-lock-alt'></i>
                </div>
                <div class="error-list" *ngIf="fc.password.errors && isSubmitted">
                    <div *ngIf="fc.password.errors.required">Password should not be empty</div>
                </div>

                <div class="input-box">
                     <button type="submit" class="btn">Login</button>
                </div>
                <div class="register-link">
                    <p>Don't have an account?
                        <a href="https://localhost:4200/sign_in">Register</a></p>
                </div>
            </form>
        </form>
    </div>
</body>