<!DOCTYPE html>
<html>

<body>
    <ul>
        <li>
            <div>
                <main class="table" style="border: 6px solid #4a9444;">
                    <section class="table-header">
                        <h1>Table Number : {{num}}</h1>
                    </section>
                    <section class="table-body">
                        <table>
                            <thead>
                                <tr class="thead-exception">
                                    <td>Name</td>
                                    <td>Amount</td>
                                    <td>Price</td>
                                </tr>
                            </thead>
                            <tbody *ngFor="let el of order.to_prepare">
                                <tr>
                                    <td>{{el.element}}</td>
                                    <td>{{el.amount}}</td>
                                    <td>{{row_price(el.amount, el.price)}}.00€</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2"> TOTAL: </td>
                                    <td>{{tot_price.toFixed(2)}}€</td>
                                </tr>
                            </tfoot>
                        </table>
                    </section>
                    <button (click)='pay()' style="vertical-align:middle"><span>PAY</span></button>
                </main>
            </div>
        </li>
    </ul>
</body>

</html>