*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to bottom left,#c0c0c0,#50808f);
}



.profile-box{
    margin: 28px;
    background: #011638;;
    text-align: center;
    color: #fff;
    position: relative;
    border-radius : 20px;
    height : 70%;
    padding: 8px;
}

.menu-icon{
    width : 25px ;
    position: absolute;
    left: 40px;
    top :40px;
}

.delete-icon{
    width : 40px ;
    position: absolute;
    right: 8px;
    top :4px;
    border-radius : 60px ;
}

.delete-icon:hover{
    cursor: pointer;
}

.profile-pic{
    width : 110px ;
    border-radius: 50%;
    background: #fff;
    padding : 6px ;
    margin-top: 40px;
}

.profile-bottom{
    width: 229px;
    height: 67px;
    background: #fff;
    color: #999;
    padding: 12px;
    margin-right: -90px;
    margin-left: -90px;
    margin-bottom: -40px;
    border-radius: 20px;
    margin-top: -10px;
    position: relative;
    display: inline-table;
}

.profile-bottom img{
    width: 15px;
    margin-top: 15px;
    cursor: pointer;
}

.profile-box button{
    background: #fff;
    color: #011638;
    border: none;
    outline : none ;
    box-shadow: 0 5px 10px rgba(9, 5, 218, 0.5);
    padding: 15px 60px;
    cursor: pointer;
    border-radius: 30px;
    margin-bottom: -50px;
    font-weight: 600px;
    font-size: 16px;
}

.profile-box h3{
    font-size: 22px;
    margin-top: 20px;
    font-weight: 500px;
}

.social-media img{
    width : 20px ;
    margin : 30px 5px ;
}


.container{
    margin: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

ul{
    border-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

h1{
    font-size: 17px;
}





