<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="sign-in-page.component.css">
    <link rel="stylesheet" href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="wrapper">
        <form action="">
            <form [formGroup]="signInForm" (ngSubmit)='submit()'>
                <h1>Sign In</h1>

                <div class="input-box">
                    <input type="text" placeholder="Username" formControlName="username" required>
                </div>
    
                <div class="input-box">
                    <input type="text" placeholder="Name" formControlName="name" required>
                </div>

                <div class="input-box">
                    <input type="text" placeholder="Surname" formControlName="surname" required>
                </div>

                <script>
                    function copyTextValue() {
                        var text1 = document.getElementById("source").value;
                        document.getElementById("destination").value = text1;
                    
                    }
                </script>
                <div class="input-box">
                    <ul class="menu">
                        <select id="source" onchange="copyTextValue()" class="select-box">
                            <option value="">select a role</option>
                            <option value="casher">casher</option>
                            <option value="waiter">waiter</option>
                            <option value="cook">cook</option>
                            <option value="bartender">bartender</option>
                        </select>
                    </ul>
                </div>


                <div class="input-box">
                    <input type="password" placeholder="Password" formControlName="password" required>
                </div>
                <div class="input-box">
                     <button type="submit" class="btn">Sign In</button>
                </div>
            </form>
        </form>
    </div>
</body>
</html>