<div class = "container">
    <div class="details">
        <form [formGroup]="signInForm" (ngSubmit)='submit()'>
            <div class="input-containers">
                <label>Username</label>
                <div>
                    <input type="username" placeholder="username" formControlName="username"/>
                </div>
            </div>
            <div class="input-container">
                <label>Name</label>
                <div>
                    <input type="name" placeholder="name" formControlName="name"/>
                </div>
            </div>
            <div class="input-container">
                <label>Surname</label>
                <div>
                    <input type="surname" placeholder="surname" formControlName="surname"/>
                </div>
            </div>
            <div class="input-container">
                <label>Role</label>
                <div>
                    <input type="role" placeholder="role" formControlName="role"/>
                </div>
            </div>
            <div class="input-container">
                <label>Password</label>
                <div>
                    <input type="password" placeholder="password" formControlName="password"/>
                </div>
            </div>
            <div class="button">
                <button type="submit">Sign in</button>
            </div>
        </form>
    </div>
</div>
