<!DOCTYPE html>
<html>

<body>
    <ul>
        <li *ngFor="let order of orders">
            <div *ngIf=nDrinksOrCoffeOrders(order)>
                <main class="table">
                    <section class="table-header">
                        <h1>Table Number : {{order.n_table}}</h1>
                        <h4>Waiter : {{get_waiter(order)}}</h4>
                    </section>
                    <section class="table-body">
                        <table >
                            <thead>
                                <tr >
                                    <td>Name</td>
                                    <td>Amount</td>
                                    <td>Time</td>
                                </tr>
                            </thead>
                            <tbody *ngFor="let elem of order.to_prepare">
                                <tr *ngIf="isDrinksOrCoffe(elem.kind)">
                                    <td>{{elem.element}}</td>
                                    <td> {{elem.amount}}</td>
                                    <td> {{order.bar_time}} Min</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </main>
            </div>
        </li>
    </ul>
</body>

</html>