<!DOCTYPE html>
<html>

<body>
    <ul class="list">
        <li *ngFor="let order of orders">
            <a *ngIf = nDrinksOrCoffeOrders(order)>
                <table class="invoice-table">
                    <thead>
                    <tr>
                        <td colspan="3">
                            <p>Table Number : {{order.n_table}}</p>
                            <p>Waiter : {{order.waiter}}</p>
                        </td>
                    </tr>
                    
                    <tr class="thead-exception">
                        <td>Name</td>
                        <td>Amount</td>
                        <td>Time</td>
                    </tr>
                    </thead>
                    <tbody *ngFor="let elem of order.to_prepare">
                    <tr *ngIf ="isDrinksOrCoffe(elem.kind)">
                        <td>{{elem.element}}</td>
                        <td> {{elem.amount}}</td>
                        <td> {{elem.time}} Min</td>
                    </tr>
                    </tbody>
                </table>
            </a>
        </li>
    </ul>
</body>

</html>