* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-style: oblique;
    font-weight: bold;
}



body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom left, #c0c0c0, #50808f);
}

li {
    list-style-type: none;
    margin: 50px;
}

main.table {
    width: 50vw;
    background-color: rgba(255, 255, 255, 0.333);

    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: 7px;
    overflow: hidden;

    animation: blink 1s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    50% {
        border-color: #4b944489;
    }
}

table,
thead,
td {
    border-collapse: collapse;
    padding: 1rem;

}

.table-header {
    width: 100%;
    height: 12%;
    background-color: #011638e3;
    padding: .8rem 1rem;
    color: #cdcdcd;
}

.table-body {
    width: 95%;
    max-height: calc(89% - .8rem);
    background-color: #fffb;

    margin: .8rem auto !important;
    border-radius: .6rem;

    overflow: auto;
}

.table-body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.table-body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table- body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}


table {
    width: 100%;
}


thead {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #54b3d04d;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr:hover {
    background-color: #fff9;

}


button {
    position: relative;
    background: #cdcdcd;
    color: #cdcdcd;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 8px 20px;
    transition: 0.5s;
    border-radius: 10px;
    margin-left: .8rem;
    margin-bottom: .8rem;
}

button:hover {
    background: #1e9bff;
    color: #1e9bff;
    box-shadow: 0 0 35px #1e9bff;
}

button::before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #011638e3;
    border-radius: 5px;
}

button span {
    position: relative;
    z-index: 1;
}

button i {
    position: absolute;
    inset: 0;
    display: block;
}


button:hover i::before {
    width: 20px;
    left: 20%;
}


button:hover i::after {
    width: 20px;
    left: 80%;
}




.wrapper{
    height: 33px;
    width: 143px;
    cursor: default;
    background: #023588e3;
    border-radius: 5px;
    position: sticky;
    top: 3%;
    left: 69%;
}

.wrapper .display,
.wrapper span{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper .display{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background: #011638e3;
    width: 137px;
    height: 26px;
    border-radius: 4px;
    text-align: center;

}

.wrapper .display #time{
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    background: #ffffffe3;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}


.wrapper span{
    height: 100%;
    width: 100%;
    background: inherit;
    border-radius: 10px;
}

