<!DOCTYPE html>
<html>

<body>
    <ul>
        <li *ngIf="wip">
            <div *ngIf=nDishesOrDessert(wip)>
                <main class="table" style="border: 6px solid #4a9444;">
                    <section class="table-header">
                        <h1>Table Number : {{wip.n_table}}</h1>
                        <h4>Waiter : {{get_current()}}</h4>
                    </section>
                    <section class="table-body">
                        <table>
                            <thead>
                                <!-- <tr>
                                <td colspan="3">
                                    <p>Table Number : {{wip.n_table}}</p>
                                    <p>Waiter : {{wip.waiter}}</p>
                                </td>
                            </tr> -->

                                <tr class="thead-exception">
                                    <td>Name</td>
                                    <td>Amount</td>
                                    <td>Time</td>
                                </tr>
                            </thead>
                            <tbody *ngFor="let elem of wip.to_prepare">
                                <tr *ngIf="isDishes(elem.kind, wip.ready_k)">
                                    <td>{{elem.element}}</td>
                                    <td> {{elem.amount}}</td>
                                    <td> {{wip.kitchen_time}} Min</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </main>
            </div>
        <li *ngFor="let order of orders">
            <div *ngIf=nDishesOrDessert(order)>
                <main class="table">
                    <section class="table-header">
                        <h1>Table Number : {{wip.n_table}}</h1>
                        <h4>Waiter : {{get_current()}}</h4>
                    </section>
                    <section class="table-body">
                        <table >
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Amount</td>
                                    <td>Time</td>
                                </tr>
                            </thead>
                            <tbody *ngFor="let elem of order.to_prepare">
                                <tr *ngIf="isDishes(elem.kind, order.ready_k)">
                                    <td>{{elem.element}}</td>
                                    <td> {{elem.amount}}</td>
                                    <td> {{order.kitchen_time}} Min</td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </main>
            </div>
        </li>
        <button (click)='startTimer()'>Start Timer</button>
        <button (click)='pauseTimer()'>Pause</button>
        <button (click)='ready()'>Ready</button>
        <p *ngIf="!sec()">{{minutes}}:{{seconds}} Seconds Left....</p>
        <p *ngIf="sec()">{{minutes}}:0{{seconds}} Seconds Left....</p>
    </ul>
</body>

</html>