
*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-style: oblique;
    font-weight: bold;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom left, #c0c0c0, #50808f);
}

li {
    list-style-type: none;
    margin: 50px;
}

main.table{
    width: 50vw;
    background-color: rgba(255, 255, 255, 0.333);

    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: 7px;
    overflow: hidden;

    animation: blink 1s;
    animation-iteration-count: infinite;
}
@keyframes blink { 50% { border-color: #4b944489;}}

table, thead, td {
    border-collapse: collapse;
    padding: 1rem;

}

.table-header{
    width: 100%;
    height: 12%;
    background-color: #011638e3;
    padding: .8rem 1rem;
    color: #cdcdcd;
}

.table-body{
    width: 95%;
    max-height: calc(89% - .8rem);
    background-color: #fffb;

    margin: .8rem auto !important;
    border-radius: .6rem;

    overflow: auto;
}

.table-body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table-body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table- body:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}


table {
    width: 100%;
}


thead {
    position: sticky;
    top:0;
    left: 0;
    background-color: #54b3d04d;
}

tbody tr:nth-child(even){
    background-color: #0000000b;
}

tbody tr:hover {
    background-color: #fff9;

}