<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="add-t.component.css">
    <link rel="stylesheet" href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
        <div class="wrapper">
            <form action="">
                <form [formGroup]="tableForm" (ngSubmit)='submit()'>
                
                    <h1>Add a table</h1>


                    <div class="input-box">
                        <input type="text" placeholder="Table Number" formControlName="number" required>
                    </div>
        
                    <div class="input-box">
                        <input type="text" placeholder="Seats" formControlName="seats" required>
                    </div>

                    <button type="submit" class="btn">Add</button>
                </form>
            </form>
        </div>
</body>
</html>